.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/Sources/Maidan/Config.swift
/Maidan
/Maidan.app/
*.iconset/
*.icns
widget.log
